<div class="contanier">
  <div class="row">
    <div class="col-md-12">
      <table class="studentInfo">
        <tbody>
          <tr>
            <td
              class="header"
              [ngStyle]="{
                'background-color': 'lime',
                'font-size': '20px',
                'font-weight': 'bold'
              }"
              colspan="6"
            >
              STUDENTS MARK SHEET
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>Tamil</td>
            <td>English</td>
            <td>Maths</td>
            <td>Science</td>
            <td>Social-Science</td>
          </tr>
          <tr [ngStyle]="{ 'background-color': 'cyan', 'font-size': '20px' }">
            <td>David</td>
            <td>85</td>
            <td>87</td>
            <td>88</td>
            <td>92</td>
            <td>88</td>
          </tr>
          <tr
            [ngStyle]="{
              'background-color': 'saddlebrown',
              'font-size': '20px'
            }"
          >
            <td>Vijay</td>
            <td>91</td>
            <td>81</td>
            <td>78</td>
            <td>71</td>
            <td>74</td>
          </tr>
          <tr [ngStyle]="{ 'background-color': 'tomato', 'font-size': '20px' }">
            <td>Arun</td>
            <td>81</td>
            <td>86</td>
            <td>88</td>
            <td>84</td>
            <td>92</td>
          </tr>
          <tr
            [ngStyle]="{
              'background-color': 'darksalmon',
              'font-size': '20px'
            }"
          >
            <td>Kali</td>
            <td>84</td>
            <td>86</td>
            <td>87</td>
            <td>82</td>
            <td>81</td>
          </tr>
          <tr
            [ngStyle]="{
              'background-color': 'crimson',
              'font-size': '20px',
              color: 'black'
            }"
          >
            <td>Aravind</td>
            <td>71</td>
            <td>79</td>
            <td>82</td>
            <td>88</td>
            <td>89</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
